* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.icon {
  width: var(--icon-normal-size);
  height: var(--icon-normal-size);
}

.icon-l {
  width: var(--icon-large-size);
  height: var(--icon-large-size);
}

.icon-xl {
  width: var(--icon-extra-large-size);
  height: var(--icon-extra-large-size);
}

/* For hide elements on mobile screens */
@media (max-width: 700px) {
  .hidden-mobile {
    display: none !important;
  }
}

/* For hide elements on large screens */
@media (min-width: 701px) {
  .hidden-laptop {
    display: none !important;
  }
}

.text-center {
  text-align: center;
}

.text-inline {
  display: inline;
}

.my {
  margin-top: var(--padding);
  margin-bottom: var(--padding);
}

.mx {
  margin-right: var(--padding);
  margin-left: var(--padding);
}

.py-l {
  padding-top: var(--padding-large);
  padding-bottom: var(--padding-large);
}

.py {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.py-s {
  padding-top: var(--padding-small);
  padding-bottom: var(--padding-small);
}

.px-l {
  padding-right: var(--padding-large);
  padding-left: var(--padding-large);
}

.px {
  padding-right: var(--padding);
  padding-left: var(--padding);
}

.px-s {
  padding-right: var(--padding-small);
  padding-left: var(--padding-small);
}

.gap {
  gap: var(--padding);
}

.gap-s {
  gap: var(--padding-small);
}

.gap-l {
  gap: var(--padding-large)
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.flex-end {
  justify-content: flex-end;
}

.col {
  display: flex;
  flex-direction: column;
}

.main-axis-center {
  justify-content: center;
}

.main-axis-between {
  justify-content: space-between;
}

.cross-axis-center {
  align-items: center;
}

.w-expand {
  width: 100% !important;
}

.border-radius {
  border-radius: var(--border-radius) !important;
}