.barFill {
    animation: grow-progress-wrapper linear;
    animation-timeline: --progress-scroll;
}

@keyframes grow-progress-wrapper {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}