.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top: 0;
    width: 100%;
    height: 10px;
    z-index: 6;
    overflow: hidden;
}

.barFill {
    width: inherit;
    height: inherit;
    border-end-end-radius: 3px;
    border-start-end-radius: 3px;
    transform-origin: left;
}

.barFill[dir="rtl"] & {
    transform-origin: right;
}

.endIndicator {
    height: inherit;
    width: var(--padding-small);
    border-end-start-radius: 3px;
    border-start-start-radius: 3px;
}