.ripple {
    position: relative;
    overflow: hidden;
}

.ripple:active::after {
    transform: scale(0);
    opacity: 0.5;
    transition: 0s;
}

.ripple::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background: radial-gradient(circle, var(--surface-color) 10%, transparent 10.01%);
    opacity: 0;
    transform: scale(10);
    transition: transform 0.5s, opacity 1s;
}